@font-face {
  font-family: Roboto;
  src: url('assets/Roboto-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url('assets/Roboto-Light.ttf');
  font-weight: lighter;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

button.mat-menu-item {
  line-height: 24px !important;
}
a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}
.mat-icon svg {
  height: 24px;
  width: 24px;
}