@import '../../constants.scss';

:host {
  height: 100%;
  width: 100%;
  background-color: $background-light;
  display: inline-block;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-elements {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & app-weather-card:first-child {
    margin-right: 16px;
  }
}

.weather-card {
  margin-right: 16px;
}