<div class="container">
  <div *ngFor="let city of cities; let i=index; let last = last" class="weather-card">
      <app-weather-card *ngIf="!last; else lastTemplate" [city]="city"
      (selectedCity)="onCitySelect($event)"
      (deletedCity)="deleteCity($event)">
      </app-weather-card>
      <ng-template #lastTemplate>
        <div class="last-elements">
            <app-weather-card [city]="city"
            (selectedCity)="onCitySelect($event)"
            (deletedCity)="deleteCity($event)">
            </app-weather-card>
            <app-weather-card
            (selectedCity)="onCitySelect($event)">
            </app-weather-card>
        </div>
      </ng-template>
  </div>
  <app-weather-card *ngIf="cities.length === 0"
            (selectedCity)="onCitySelect($event)">
  </app-weather-card>
</div>
