<mat-card [ngClass]="{'day': currentWeather?.isDay, 'night': currentWeather && !currentWeather.isDay}">
  <div class="overlay" *ngIf="selected">
      <button mat-icon-button (click)="displayForecast()">
          <mat-icon svgIcon="calendar-range"></mat-icon>
        </button>
        <button mat-icon-button (click)="deleteCity()">
            <mat-icon svgIcon="delete"></mat-icon>
          </button>
  </div>
  <div class="container" [ngClass]="selected? 'selected' : ''">

    <div *ngIf="currentWeather; else addNew">
      <div class="degrees">
        {{currentWeather.tempC}}&#176;
      </div>
      <div class="icon">
        <img [src]="'assets/icons/' + currentWeather.iconPath">
      </div>
      <div class="city">
        {{cityData.city || cityData.county || cityData.country}}
      </div>
    </div>

    <ng-template #addNew>
      <div class="add-new" *ngIf="!input">
        <span>Add new city</span>
        <button mat-icon-button (click)="toggleInput()">
            <mat-icon svgIcon="plus"></mat-icon>
          </button>
      </div>
      <form *ngIf="input" [formGroup]="searchForm">
      
        <mat-form-field>
          <input type="text" matInput [placeholder]="'Start typing...'" formControlName="query" [matAutocomplete]="auto">
        </mat-form-field>
      
      </form>
    </ng-template>

  </div>
</mat-card>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" [panelWidth]="'400px'">
    <ng-container>
      <mat-option *ngFor="let city of cities | async" [value]="city">
        {{city.formatted}}
      </mat-option>
    </ng-container>
  </mat-autocomplete>
